* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "julius Sans One";
  }

  .App {
    .login{
        display: flex;
        border-radius: 10px;
        justify-content: space-between;
    }
  }