@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GERAL */

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "julius Sans One";
}

/* ABA DE NAVEGAÇÃO */



.Home {
  width: 100%;
  height: 100dvb;

  header {
    display: flex;
    background-color: #FFD5EC;
    justify-content: space-between;

    img {
      width: 90px;
      margin-left: 20px;

      user-select: none;
      -webkit-user-drag: none;
    }

    nav {
      display: flex;
      margin-right: 20px;
      align-items: center;
      gap: 80px;
      
      .login{
        width: 35px;
        margin-left: 1px;
      }
      

      .links {
        font-size: large;
        color: #000;
        padding: 15px;
        text-decoration: none;
      }
    }
  }

  main {
    display: flex;
    background-color: #D9D9D9;
    justify-content: space-between;
  
    .mulher {
      width: 48%;
  
      user-select: none;
      -webkit-user-drag: none;
    }
  
    .imagens {
      display: flex;
      align-items: end;
      padding: 40px;
      flex-direction: column;
  
      .letreiro {
        width: 63%;
  
        user-select: none;
        -webkit-user-drag: none;
      }
  
      .amitaf {
        width: 35%;
        padding-top: 40px;
  
        user-select: none;
        -webkit-user-drag: none;
      }
    }
  }

  .transicao {
    text-align: center;
    padding: 10px;
    background-color: #FFD5EC;
  }

  .sobre {
    .trio {
      width: 400px;
    }
  }

  .segunda{
    color: #000;
    font-family: "Julius Sans One";
    display: flex;
    flex-direction: row;
    align-items: center;

    .centro{
      text-align: center;
      padding-bottom: 10%;
    }

    h1{
      text-decoration: underline pink;
      text-align: center;
      font-size:xx-large;
    }

    .text{
      max-width: 600px;
      font-size: 30px;
    }
    
    p{
      padding-top: 20px;
      max-width: 600px;
      font-size: 30px;
    }

    span{
      color: rgb(180, 108, 184);
      font-size: 35px;
    }

    h1{
      padding: 35px;
    }

    .mona{
      width: 546px;
      height: auto;
      margin-right: 20px;
    }

  }

  .procedimentos{
    padding-bottom: 60px; 
    text-align: center;
    background-color: #FFD5EC;

  }

  .nossos-procedimentos{
    text-decoration: underline pink;
    padding-top: 30px; 
    text-align: center;

  }

  .mae{
    position: relative;
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;
    gap: 10px; 

    h1{
      font-family: 'Julius Sans One';
    }

    p{
      padding-top: 10px;
      font-family: 'Roboto';
      font-size: 14px;
    }

    .nail{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        font-size: 14px;
      }
    }

    .design{
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        padding-top: 50px;
        font-family: 'Roboto';
        font-size: 14px;
      }
    }

    .brow{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }

    .botox{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }
  }

  .pai{
    position: relative;
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;
    gap: 10px; 

    h1{
      font-family: 'Julius Sans One';
    }

    p{
      padding-top: 10px;
      font-family: 'Roboto';
      font-size: 14px;
    }

    .limpeza{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        font-size: 14px;
      }
    }

    .depilacao{
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        padding-top: 50px;
        font-family: 'Roboto';
        font-size: 14px;
      }
    }

    .gloss{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }

    .extensao{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }
  }

  .imagem img{
    padding-top: 35px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    width: 130px;
  }
}

/* QUEM APAGAR ESSA PORRA EU MATO!!*/
/* Meu psicologico agradece ass: josé <3*/

@media screen and (max-width: 767px){
  .Home {
    width: 100%;
    height: 100dvb;
  
    header {
      display: flex;
      background-color: #FFD5EC;
      justify-content: space-between;
  
      img {
        width: 90px;
        margin-left: 20px;
  
        user-select: none;
        -webkit-user-drag: none;
      }
  
      nav {
        display: flex;
        margin-right: 20px;
        align-items: center;
        gap: 80px;
        
        .login{
          width: 35px;
          margin-left: 1px;
        }
        
  
        .links {
          font-size: large;
          color: #000;
          padding: 15px;
          text-decoration: none;
        }
      }
    }

    main {
      display: flex;
      background-color: #D9D9D9;
      justify-content: space-between;
    
      .mulher {
        width: 48%;
    
        user-select: none;
        -webkit-user-drag: none;
      }
    
      .imagens {
        display: flex;
        align-items: end;
        padding: 40px;
        flex-direction: column;
    
        .letreiro {
          width: 63%;
    
          user-select: none;
          -webkit-user-drag: none;
        }
    
        .amitaf {
          width: 35%;
          padding-top: 40px;
    
          user-select: none;
          -webkit-user-drag: none;
        }
      }
    }

    .transicao {
      text-align: center;
      padding: 10px;
      background-color: #FFD5EC;
    }
    .sobre {
      .trio {
        width: 400px;
      }
    }
  
    .segunda{
      color: #000;
      font-family: "Julius Sans One";
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .centro{
        text-align: center;
        padding-bottom: 10%;
      }
  
      h1{
        text-align: center;

        font-size:xx-large;
      }
  
      .text{
        max-width: 600px;
        font-size: 30px;
      }
      
      p{
        padding-top: 20px;
        max-width: 600px;
        font-size: 30px;
      }
  
      span{
        color: rgb(194, 126, 188);
      }
  
      h1{
        padding: 35px;
      }
  
      .mona{
        width: 546px;
        height: auto;
        margin-right: 20px;
      }
  
    }
  
    .procedimentos{
      font-family: "Julius Sans One";
      text-align: center;
      background-color: #FFD5EC;
  
    }
  
    .mae{
      display: flex;
      padding-left: 70px;
      align-items: center;
      padding-top: 30px;
      gap: 20px;
    
  
      .imagem img{
        padding-top: 35px;
        padding-bottom: 50px;
        align-items: center;
        text-align: center;
        width: 90px;
      }
  
      h1{
        font-family: 'Julius Sans One';
      }
  
      p{
        font-family: 'Roboto';
      }
  
      .nail{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
  
        p{
          font-size: 14px;
        }
      }
  
      .design{
        text-decoration: none;
        display: flex;
        flex-direction: column;
  
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
  
      .brow{
        text-decoration: none;
        display: flex;
        flex-direction: column;
  
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
  
      .botox{
        text-decoration: none;
        display: flex;
        flex-direction: column;
  
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
    }
  }

  .pai{
    position: relative;
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;
    gap: 10px; 

    h1{
      font-family: 'Julius Sans One';
    }

    p{
      padding-top: 10px;
      font-family: 'Roboto';
      font-size: 14px;
    }

    .limpeza{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        font-size: 14px;
      }
    }

    .depilacao{
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        padding-top: 50px;
        font-family: 'Roboto';
        font-size: 14px;
      }
    }

    .gloss{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }

    .extensao{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }
  }

  .imagem img{
    padding-top: 35px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    width: 130px;
  }
}

  @media screen and (min-width: 767px) and (max-width: 1023px){
    .Home {
      width: 100%;
      height: 100dvb;
    
      header {
        display: flex;
        background-color: #FFD5EC;
        justify-content: space-between;
    
        img {
          width: 90px;
          margin-left: 20px;
    
          user-select: none;
          -webkit-user-drag: none;
        }
    
        nav {
          display: flex;
          margin-right: 20px;
          align-items: center;
          gap: 80px;
          
          .login{
            width: 35px;
            margin-left: 1px;
          }
          
    
          .links {
            font-size: large;
            color: #000;
            padding: 15px;
            text-decoration: none;
          }
        }
      }
      main {
        display: flex;
        background-color: #D9D9D9;
        justify-content: space-between;
      
        .mulher {
          width: 48%;
      
          user-select: none;
          -webkit-user-drag: none;
        }
      
        .imagens {
          display: flex;
          align-items: end;
          padding: 40px;
          flex-direction: column;
      
          .letreiro {
            width: 63%;
      
            user-select: none;
            -webkit-user-drag: none;
          }
      
          .amitaf {
            width: 35%;
            padding-top: 40px;
      
            user-select: none;
            -webkit-user-drag: none;
          }
        }
      }

      .transicao {
        text-align: center;
        padding: 10px;
        background-color: #FFD5EC;
      }
      .sobre {
        .trio {
          width: 400px;
        }
      }
    
      .segunda{
        color: #000;
        font-family: "Julius Sans One";
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .centro{
          text-align: center;
          padding-bottom: 10%;
        }
    
        h1{
          text-align: center;
  
          font-size:xx-large;
        }
    
        .text{
          max-width: 600px;
          font-size: 30px;
        }
        
        p{
          padding-top: 20px;
          max-width: 600px;
          font-size: 30px;
        }
    
        span{
          color: rgb(194, 126, 188);
        }
    
        h1{
          padding: 35px;
        }
    
        .mona{
          width: 546px;
          height: auto;
          margin-right: 20px;
        }
    
      }
    
      .procedimentos{
        font-family: "Julius Sans One";
        text-align: center;
        background-color: #FFD5EC;
      }
    
      .mae{
        display: flex;
        padding-left: 70px;
        align-items: center;
        padding-top: 30px;
        gap: 20px;
        
        button{
          text-decoration: none;
        }
    
        .imagem img{
          padding-top: 35px;
          padding-bottom: 50px;
          align-items: center;
          text-align: center;
          width: 230px;
        }
    
        h1{
          font-family: 'Julius Sans One';
        }
    
        p{
          font-family: 'Roboto';
        }
    
        .nail{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          background-color: white;
          box-shadow: 4px 4px 10px #000;
          border-radius: 20px;
          height: 600px;
          width: 345px;
    
          p{
            font-size: 14px;
          }
        }
    
        .design{
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          background-color: white;
          box-shadow: 4px 4px 10px #000;
          border-radius: 20px;
          height: 600px;
          width: 345px;
        }
    
        .brow{
          text-decoration: none;
          display: flex;
          flex-direction: column;
    
          align-items: center;
          text-align: center;
          background-color: white;
          box-shadow: 4px 4px 10px #000;
          border-radius: 20px;
          height: 600px;
          width: 345px;
        }
    
        .botox{
          text-decoration: none;
          display: flex;
          flex-direction: column;   
          align-items: center;
          text-align: center;
          background-color: white;
          box-shadow: 4px 4px 10px #000;
          border-radius: 20px;
          height: 600px;
          width: 345px;
        }
      }
    }

    .pai{
      position: relative;
      display: flex;
      padding-left: 10px;
      align-items: center;
      padding-top: 30px;
      gap: 10px; 
  
      .imagem img{
        padding-top: 35px;
        padding-bottom: 50px;
        align-items: center;
        text-align: center;
        width: 230px;
      }
  
      h1{
        font-family: 'Julius Sans One';
      }
  
      p{
        padding-top: 10px;
        font-family: 'Roboto';
        font-size: 14px;
      }
  
      .limpeza{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
  
        p{
          font-size: 14px;
        }
      }
  
      .depilacao{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
  
        p{
          padding-top: 50px;
          font-family: 'Roboto';
          font-size: 14px;
        }
      }
  
      .gloss{
        text-decoration: none;
        display: flex;
        flex-direction: column;
  
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
  
      .extensao{
        text-decoration: none;
        display: flex;
        flex-direction: column;
  
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
    }

  .imagem img{
    padding-top: 35px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    width: 130px;
  }
}

@media screen and (min-width: 1024px){
  .Home {
    width: 100%;
    height: 100dvb;
  
    header {
      display: flex;
      background-color: #FFD5EC;
      justify-content: space-between;
  
      img {
        width: 90px;
        margin-left: 20px;
  
        user-select: none;
        -webkit-user-drag: none;
      }
  
      nav {
        display: flex;
        margin-right: 20px;
        align-items: center;
        gap: 80px;
        
        .login{
          width: 35px;
          margin-left: 1px;
        }
        
  
        .links {
          font-size: large;
          color: #000;
          padding: 15px;
          text-decoration: none;
        }
      }
    }
    main {
      display: flex;
      background-color: #D9D9D9;
      justify-content: space-between;
    
      .mulher {
        width: 48%;
    
        user-select: none;
        -webkit-user-drag: none;
      }
    
      .imagens {
        display: flex;
        align-items: end;
        padding: 40px;
        flex-direction: column;
    
        .letreiro {
          width: 63%;
    
          user-select: none;
          -webkit-user-drag: none;
        }
    
        .amitaf {
          width: 35%;
          padding-top: 40px;
    
          user-select: none;
          -webkit-user-drag: none;
        }
      }
    }
    .transicao {
      text-align: center;
      padding: 10px;
      background-color: #FFD5EC;
    }
    .sobre {
      .trio {
        width: 400px;
      }
    }
  
    .segunda{
      color: #000;
      font-family: "Julius Sans One";
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .centro{
        text-align: center;
        padding-bottom: 10%;
      }
  
      h1{
        text-align: center;

        font-size:xx-large;
      }
  
      .text{
        max-width: 600px;
        font-size: 30px;
      }
      
      p{
        padding-top: 20px;
        max-width: 600px;
        font-size: 30px;
      }
  
      span{
        color: rgb(194, 126, 188);
      }
  
      h1{
        padding: 35px;
      }
  
      .mona{
        width: 546px;
        height: auto;
        margin-right: 20px;
      }
  
    }
  
    .procedimentos{
      font-family: "Julius Sans One";
      text-align: center;
      background-color: #FFD5EC;
  
    }
  
    .mae{
      display: flex;
      padding-left: 70px;
      align-items: center;
      padding-top: 30px;
      gap: 20px;

      button{
      
        border-radius: 20px;
        padding-top: auto;
        background-color: pink;
        color: white;
      }
  
      .imagem img{
        padding-top: 35px;
        padding-bottom: 50px;
        align-items: center;
        text-align: center;
        width: 210px;
      }
  
      h1{
        font-family: 'Julius Sans One';
      }
  
      p{
        font-family: 'Roboto';
      }
  
      .nail{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;

        gap: 20px;
        
        p{
          font-size: 14px;
        }
      }
  
      .design{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
  
      .brown{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
  
      .botox{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 4px 4px 10px #000;
        border-radius: 20px;
        height: 600px;
        width: 345px;
      }
    } 
  }

  .pai{
    position: relative;
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;
    gap: 10px; 

    h1{
      font-family: 'Julius Sans One';
    }

    p{
      padding-top: 10px;
      font-family: 'Roboto';
      font-size: 14px;
    }

    .limpeza{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        font-size: 14px;
      }
    }

    .depilacao{
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;

      p{
        padding-top: 50px;
        font-family: 'Roboto';
        font-size: 14px;
      }
    }

    .gloss{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }

    .extensao{
      text-decoration: none;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      background-color: white;
      box-shadow: 4px 4px 10px #000;
      border-radius: 20px;
      height: 600px;
      width: 345px;
    }
  }
  .imagem img{
    padding-top: 35px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    width: 130px;
  }

  .imagem-pai{
    padding-top: 35px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    width: 130px;
  }
}